name: Release
on:
    push:
        tags:
        - 'v[0-9]+.[0-9]+.[0-9]+**'

jobs:
    release:
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
        - uses: actions/checkout@v6
        - uses: ncipollo/release-action@v1
          with:
            generateReleaseNotes: true
            makeLatest: true
